{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/card.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	
	<title>3D Rotating Navigation | CodyHouse</title>
</head>
<body>
	<header class="cd-header">
		<a href="#0" class="cd-logo"><img id="Coop_logo" src="{% static 'img/Coop.png' %}" height="33%" width="auto" alt="Logo"></a>
		<button class="cd-3d-nav-trigger">Hello</button>
		<a href="#0" class="cd-3d-nav-trigger"><span></span>
		</a>
	</header> <!-- .cd-header -->
	
	<main>
            {% block content %}
            {% endblock content %}
	</main>
	
	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li class="cd-selected">
				<a href="{% url 'home' %}">Dashboard</a>
			</li>

			<li>
				<a href="{% url 'projekt' %}">Projects</a>
			</li>

			<li>
				<a href="{% url 'images' %}">Images</a>
			</li>

			<li>
				<a href="{% url 'settings' %}">Settings</a>
			</li>

			<li>
				<a href="{% url 'new' %}">New</a>
			</li>
		</ul> <!-- .cd-3d-nav -->
		<span class="cd-marker color-1"></span>	
	</nav> <!-- .cd-3d-nav-container -->
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>